/*header*/

.container-fluid {
    --bs-gutter-x: 0rem;
    padding: 0;
}

.banner {
    position: relative;
    background-size: cover;
    height: 650px;
    background: url("../assets/banner.png") no-repeat scroll center center;
    font-size: 0;
    margin-bottom: 100px;
}
nav img {
    max-width: 80px;
    max-height: 80px;
}
.navbar-brand {
    font-weight: bold;
}

/*about*/
.section-heading {
    text-align: center;
    margin: 50px;
}







@media (max-width: 991px){

    .banner {
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position: initial;
        margin-bottom: 100px;
        padding: 50px;
    }

    nav i {
        font-size: 50px;
        color: #53A548;
    }
    nav button {
        position: fixed;
        left: 800px;
    }
    .navbar-toggler {
        top: 85px;
    }

    nav img {
        max-width: 200px;
        max-height: 200px;
    }
    .navbar-brand {
        font-size: 30px;
        text-wrap: initial;
    }
}
